<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This will have the full list of reviews</title>

    <link th:href="@{/images/mainLayout.css}" rel="stylesheet" >

</head>
<body class = "mainBody">
<main class= "homePageMainContainer">
    <div class="mainGreeting">

        <p> A reviews site inspired by a favorite spot of my friends from years past...</p>
        <p> a Beer and Scotch Tavern! Click on either link below to see reviews </p>
        <p>of everything on the menu.</p>

    </div>


    <ul class="bigLinksList">
        <li>
            <h2><a href="/scotchReviews">Scotch Reviews</a>
            </h2>
        </li>

        <li>
            <h2>
                <a href="/beerReviews">Beer Reviews</a>
            </h2>
        </li>
    </ul>

</main>

<footer>
    <p>&copy wcci- Fall 2020- The Greatest Cohort In History</p>
</footer>
</body>


</html>