<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Beer Reviews</title>
    <!--<link th:href="@{/images/beerPagelayout.css}" rel="stylesheet" >-->
    <link th:href="@{/images/mainLayout.css}" rel="stylesheet" >


</head>

<nav class="beersNavBar">
    <a href="/reviews">Return to the Home Page</a>
</nav>
<body  class="beerBody">


<ul>
    <li class="reviewTitle" th:each="review: ${beersOnlyModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
    </li>
</ul>




</body>
</html>