<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This will have a specific review</title>

    <link th:href="@{/images/mainLayout.css}" rel="stylesheet">
</head>
<nav>
    <a href="/reviews">Return to the Home Page</a>
</nav>
<body class="singleReviewBody">

<img class= "stars" th:src="@{/images/stars/stars1.jpg}" alt="review stars">


    <div class="singleReviewImageFrame">
        <img class="reviewerShot" th:src="${reviewModel.getImageUrl()}" alt="reviewer's photo">
    </div>

    <div class="reviewContentContainer">
        <img class= "stars" th:src="@{/images/stars/stars1.jpg}" alt="review stars">
        <iframe th:src="${reviewModel.getContent()}" frameborder="0"></iframe>
    </div>

    <p><a href="/reviews">Return to the Reviews List</a></p>


</body>
</html>