<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This will have a specific review</title>

    <link th:href="@{/images/mainLayout.css}" rel="stylesheet">
</head>
<nav>
    <a href="/reviews">Return to the Home Page</a>
</nav>
<body class="singleReviewBody">




    <div class="singleReviewImageFrame">
        <img class="reviewerShot" th:src="${reviewModel.getImageUrl()}" alt="reviewer's photo">
    </div>

    <div class="reviewContentContainer">
        <img class= "stars" th:src="${reviewModel.stars}" alt="review stars">
        <p th:text="${reviewModel.date.toString()}"></p>
        <iframe th:src="${reviewModel.getContent()}" frameborder="0"></iframe>
        <p th:text="${reviewModel.date.toString()}"></p>
    </div>
<img class= "stars" th:src="@{reviewModel.stars}" alt="review stars">

<h1 th:text="${reviewModel.date.toString()}" ></h1>

</body>
</html>