<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Scotch going here</title>
   <!-- <link th:href="@{/images/scotchLayout.css}" rel="stylesheet" >-->
    <link th:href="@{/images/mainLayout.css}" rel="stylesheet" >


</head>

<nav>
    <a href="/reviews">Return to the Home Page</a>
</nav>

<body class="scotchBody">
<main class=" beer-scotchMain">
<ul>
    <li class= "reviewTitle" th:each="review: ${scotchOnlyModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
    </li>
</ul>

</main>

<footer>
    <p>&copy wcci- Fall 2020- The Greatest Cohort In History</p>
</footer>
</body>

</html>