<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Scotch going here</title>
   <!-- <link th:href="@{/images/scotchLayout.css}" rel="stylesheet" >-->
    <link th:href="@{/images/mainLayout.css}" rel="stylesheet" >


</head>
<body class="scotchBody">

<h1>All da scotches will be here soon</h1>


<ul>
    <li th:each="review: ${scotchOnlyModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
    </li>
</ul>




<p><a href="/reviews">Return to the Reviews List</a></p>
</body>
</html>