* {
    font-family: sans-serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

.mainBody {
    background-color: black;

}

main.homePageMainContainer {
    width: available;
    height: 600px;
    background-image: url("main-background1.1.jpg");
    background-position: center;
    background-repeat: no-repeat;

}

.mainGreeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3%;
}

.mainGreeting p {
    font-size: 2em;
    color: blanchedalmond;
    font-weight: bolder;
    padding-bottom: 30px;
}

nav.beersNavBar a {
    text-decoration: none;
    color: blanchedalmond;
}

.beerBody {
    height: 600px;
    background-image: url("beer-background.jpg");
    background-size: cover;
}

.scotchBody {
    background-image: url("scotch-background.jpg");
    background-size: cover;
}

.beer-scotchMain{
    height: 600px;
}

.beerBody a {
    color: #333333;
}

.singleReviewMain{
    width: 100%;
    height: 600px;
}
.reviewTitle {
    font-size: 1.5em;
}

.singleReviewBody {
    background-image: url("single-review-background2.jpg");
    display: flex;
   /* justify-content: space-around;  */
    align-items: flex-end;
}

.bigLinksList {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
}

nav a {
    margin-right: 15%;
    color: bisque;
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    padding-top: 2em;
}

.singleReviewImageFrame {
    align-self: stretch;
    width: 360px;
    height: 360px;
    background-color: black;
    border: 3px solid #ccc;
    margin-top: 5%;
    margin-left: 5%;
    padding: 40px 25px;
}
.reviewerShot {
    align-self: center;
    width: 100%;
    height: 100%;
}

.reviewContentContainer {
    width: 300px;
    height: 300px;
    background-color: beige;
    border: 5px solid #666;
    margin-top: 15%;
    margin-left: 20%;
    /*margin-bottom: 50%;*/

}


iframe {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

footer{
    color: blanchedalmond;
    text-align: center;
}



